@theme{
     --color-Primary-Blue-100: #E5EBFF;
    --color-Primary-Blue-200: #BFC9F0;
    --color-Primary-Blue-300: #A6B6F1;
    --color-Primary-Blue-400: #7F94E2;
    --color-Primary-Violet-100: #F5F1FF;
    --color-Primary-Violet-200: #EEE5FF;
    --color-Primary-Violet-300: #CAB2F1;
    --color-Primary-Violet-400: #B28FEA;
    --color-Neutral-white: #FFFFFF;
    --color-Neutral-100: #F8F9FD;
    --color-Neutral-200: #F0F0F0;
    --color-Neutral-300: #E0E0E0;
    --color-Neutral-400: #CDCDCD;
    --color-Neutral-500: #9A9A9A;
    --color-Neutral-600: #757575;
    --color-Neutral-700: #363636;
    --color-accent-yellow: #FFEEA3;
    --color-accent-orange: #FFD887;
}